  body{
    background-color: #FFF4F0;
    color: #785D4D;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    box-sizing: border-box;
  }
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: #785D4D;
}
ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul li a:hover {
  background-color: #FFF4F0;
  color: #785D4D;
}
  h1 {
    font-size: 3em;
    font-family: 'Karia';
    text-align: center;  
  }
  .box1 {
   box-shadow: 0 4px 8px #00000070;
   background-color: #EAC4B0;
   box-sizing: border-box;
   padding: 5rem;
   width: 100%;
   margin: 0;
  }
  .box2 {
   box-shadow: 0 4px 8px #00000070;
   background-color: #FFFF;
   border-radius: 7px;
   padding: 2rem;
  }
  .gap {
    padding: 2em;
  }
  .buttonGap {
   background-color: #EAC4B0;
   width: 100%;
   padding: 2em;
  }
  .big-box {
   box-shadow: 0 4px 8px #00000070;
   background-color: #785D4D;
   box-sizing: border-box;
   padding: 5rem;
   width: 100%;
   margin: 0;
   text-align: center;
  }
  
  .small-box {
   box-shadow: 0 4px 8px #00000070;
   background-color: #FFFF;
   border-radius: 7px;
   padding: 2rem;
   text-align: center;
  }
  
  .start-page button {
      font-family: 'Kadwa';
      background-color: #FFF4F0;
      border-radius: 7px; /* More rounded corners */
      border: none;
      color: #785D4D;
      padding: 20px 40px; /* Larger padding */
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: 20px; /* Larger font */
      transition-duration: .4s;
      margin: 30px auto;
      cursor: pointer;
      width: 250px; 
      transition-duration: .4s;
  }
  button:hover {
    background-color: #785D4D;
    color: #FFF4F0;
    box-shadow:  0 4px 4px rgba(0, 0, 0, 0.5);;
  }
  